body{
    display: block;
}

.main-navbar{
    background-color: #001933;
    display: block;
    text-transform: uppercase;
    color: white !important;
    font-weight: bold;
}

.nav-menu, .nav-submenu{
    margin-right: 20px;
}

.container{
    min-height: 85%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: -50px;
}

.container:after {
    content: "";
    display: block;
}

.kris-panel{
    margin-top: 60px;
}

.kris-panel-heading, .kris-list-group-item{
    min-height: 80px;
    max-height: 80px;
}

.kris-panel-heading>h1{

}

.details-panel{
    margin-top: 20px;
}

.list-group{
    min-height: 380px;
    max-height: 380px;
    overflow-y: scroll;
}

.kris-panel-body{
    min-height: 445px;
    max-height: 445px;
}

#push, .footer, .container:after {
    height: 50px;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #001933;
}

#footer-text{
    color: gray;
}