<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krismobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission  android:name="android.permission.INTERNET"/>
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/KrisTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/SettingsFragmentTheme" >
        </activity>
        <activity
            android:name=".contractors.ContractorsActivity"
            android:label="@string/title_activity_contractors"
            android:parentActivityName=".main.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krismobile.main.MenuActivity" />
        </activity>
        <activity
            android:name=".contractors.ContractorActivity"
            android:label="@string/title_activity_contractor"
            android:parentActivityName=".contractors.ContractorsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krismobile.contractors.ContractorsActivity" />
        </activity>
        <activity
            android:name=".contractors.ModifyContractorActivity"
            android:label="@string/title_activity_modify_contractor"
            android:parentActivityName=".contractors.ContractorsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krismobile.contractors.ContractorsActivity" />
        </activity>
        <activity
            android:name=".documents.DocumentsActivity"
            android:label="@string/title_activity_documents"
            android:parentActivityName=".main.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krismobile.main.MenuActivity" />
        </activity>
        <activity
            android:name=".documents.DocumentActivity"
            android:label="@string/title_activity_document"
            android:parentActivityName=".documents.DocumentsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krismobile.documents.DocumentsActivity" />
        </activity>
        <activity
            android:name=".contractors.documents.ContractorDocumentsActivity"
            android:label="@string/title_activity_contractor_document"
            android:parentActivityName=".contractors.ContractorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krismobile.contractors.ContractorActivity" />
        </activity>
        <activity
            android:name=".TmpPagedActivity"
            android:label="@string/title_activity_tmp_paged" >
        </activity>
        <activity
            android:name=".items.ItemsActivity"
            android:label="@string/title_activity_items"
            android:parentActivityName=".main.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krismobile.main.MenuActivity" />
        </activity>
        <activity
            android:name=".items.ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".items.ItemsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krismobile.items.ItemsActivity" />
        </activity>
        <activity
            android:name="com.example.krismobile.items.ModifyItemActivity"
            android:label="@string/title_activity_modify_item" >
        </activity>
    </application>

</manifest>
